*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
  @media #{$mq-640-vh-down} {
    overflow: visible;
  }
  @media #{$mq-768-vh-down} {
    overflow: visible;
  }
}
.super-container {
  position: relative;
  .box {
    display: none;

    @media #{$mq-1000-up} {
      display: grid;
      position: absolute;
      left: -8.9%;
      top: 41.6%;
      width: 8.8rem;
      z-index: 99;
    }
    @media #{$mq-1100-up} {
      left: -8.7%;
      top: 41.2%;
      width: 9rem;
    }
    @media #{$mq-1200-up} {
      left: -8.4%;
      top: 42.4%;
      width: 9.3rem;
    }
    @media #{$mq-1300-up} {
      left: -7.3%;
      top: 42%;
      width: 9rem;
    }
    @media #{$mq-1400-up} {
      // left: -8.8%;
      top: 39.5%;
      left: -8.3%;
      width: 10.5rem;
    }
  }
}
.container {
  position: relative;
  background-color: $White;
  width: 26.5em;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 11px 9px 27px -5px rgba(0, 0, 0, 0.48);
  transition: all 0.2s ease;
  @media #{$mq-1000-up} {
    background: url("../images/bg-pattern-desktop.svg");
    // background-size: cover;
    background-size: 60rem;
    background-repeat: no-repeat;
    background-position: top -17rem left -40rem;
    background-color: $White;
    overflow: hidden;
    width: 70vw;
    height: 71vh;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  @media #{$mq-1400-up} {
    width: 61.3375rem;
    height: 34.0792rem;
    background-position: top -16rem left -35rem;
  }
}
.hero-image-section-mobile {
  img {
    width: 14rem;
  }
  .illustration {
    position: relative;
    top: -7.8rem;
    left: 9%;
    z-index: 1;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 15%;
  }

  @media #{$mq-1000-up} {
    display: none;
  }
}
.hero-image-section-desktop {
  display: none;

  @media #{$mq-1000-up} {
    display: block;
    margin-top: 1rem;

    .illustration {
      left: -9%;
      position: absolute;
      top: 22%;
      width: 24rem;
      z-index: 1;

      @media #{$mq-1200-up} {
        left: -8%;
        top: 22%;
        width: 25rem;
      }

      @media #{$mq-1400-up} {
        left: -9%;
        top: 15%;
        width: 29rem;
      }
    }
  }
}
.hero-text-section {
  margin-bottom: 1rem;
  @media #{$mq-1000-up} {
    margin-right: 3.5rem;
    margin-bottom: -5rem;
  }
}
.accordion {
  height: 2.81rem;
  overflow: hidden;
  border-bottom: 1px solid $Lightgrayishblue;
  transition: height 0.3s ease;
  cursor: pointer;
  .arrow {
    transition: transform 0.4s ease;
  }
}
.accordion-drop {
  height: 6rem;
  .question {
    color: $Verydarkdesaturatedblue;
    font-weight: 700;
  }
  .arrow {
    transform: rotate(-180deg);
  }
}
.question-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.81rem;
  margin-bottom: 0.7rem;
}
