// Media Queries
$mq-375-down: "only screen and (max-width: 374px)";
$mq-375-up: "only screen and (min-width: 375px)";

$mq-620-down: "only screen and (max-width: 619px)";
$mq-620-up: "only screen and (min-width: 620px)";

$mq-760-down: "only screen and (max-width: 759px)";
$mq-760-up: "only screen and (min-width: 760px)";

$mq-900-down: "only screen and (max-width: 899px)";
$mq-900-up: "only screen and (min-width: 900px)";

$mq-1000-down: "only screen and (max-width: 999px)";
$mq-1000-up: "only screen and (min-width: 1000px)";

$mq-1100-up: "only screen and (min-width: 1100px)";

$mq-1200-down: "only screen and (max-width: 1199px)";
$mq-1200-up: "only screen and (min-width: 1200px)";

$mq-1300-up: "only screen and (min-width: 1300px)";

$mq-1400-down: "only screen and (max-width: 1399px)";
$mq-1400-up: "only screen and (min-width: 1400px)";

$mq-640-vh-down: "only screen and (max-height: 640px)";
$mq-768-vh-down: "only screen and (max-height: 768px)";
